@use "./../../abstracts" as a;
.calendar {
    background: var(--form-bg); box-shadow: var(--form-shadow);color: var(--form-caption);
    width: a.$form-w-default; border-radius: a.$form-bdrs;
    padding: 20px; z-index: 100;
    position: absolute; margin-top: 10px;
    * {color: inherit}

    display: none;
    
    // events javascripts;
    .form__input--focus & {display: block;}

    // sizes
    // .swiper-wrapper--normal {height: 181px;}
}

// calendar >> header;
.calendar {
    &__header {margin-bottom: 12px;}
    &__navigate {
        @include a.flex(center, center, 8px); 
        button {
            @include a.square(20px);
            &:hover img{filter: var(--icon-hover)}
        }

    }
    &__move {font-family: a.$normal; padding: 0 6px; }
    &__row {
        // margin-left: -6px;
        & > * {@include a.flex(); font-size: 1.2rem; aspect-ratio: 1 / 1;}
        
    }
    &__table {--gutter-y: 4px}
}

.day {
    cursor: pointer; transition: .3s;border-radius: 8px; color: var(--day-text-in-month);
    &:hover {background: var(--day-bg-hover); color: var(--day-text-hover);}
    &-outside {color: var(--day-text-outside)}
    &-selected {
        background: #5865F2; color: #FFFFFF;
        &:hover{background: #131FA3; color: #FFF}
    }
}